### Recommendations with MovieTweetings: Getting to Know The Data

Throughout this lesson, you will be working with the [MovieTweetings Data](https://github.com/sidooms/MovieTweetings/tree/master/recsyschallenge2014).  To get started, you can read more about this project and the dataset from the [publication here](http://crowdrec2013.noahlab.com.hk/papers/crowdrec2013_Dooms.pdf).

**Note:** There are solutions to each of the notebooks available by hitting the orange jupyter logo in the top left of this notebook.  Additionally, you can watch me work through the solutions on the screencasts that follow each workbook. 

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

#### 1. Take a Look At The Data 

Take a look at the data and use your findings to fill in the dictionary below with the correct responses to show your understanding of the data.

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t
import os
%matplotlib inline

data_path = os.path.join(os.getcwd(),"data")

# Read in the MovieTweetings dataset originally taken from https://github.com/sidooms/MovieTweetings/tree/master/latest
movies = pd.read_csv(data_path +'/movies.dat', delimiter='::', header=None, names=['movie_id', 'movie', 'genre'], dtype={'movie_id': object}, engine='python')
reviews = pd.read_csv(data_path +'/ratings.dat', delimiter='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'], dtype={'movie_id': object, 'user_id': object, 'timestamp': object}, engine='python')

In [25]:
# number of movies
print("The number of movies is {}.".format(movies.shape[0]))

# number of ratings
print("The number of ratings is {}.".format(reviews.shape[0]))

# unique users
print("The number of unique users is {}.".format(reviews.user_id.nunique()))

# missing ratings
print("The number of missing reviews is {}.".format(int(reviews.rating.isnull().mean()*reviews.shape[0])))

# the average, min, and max ratings given
print("The average, minimum, and max ratings given are {}, {}, and {}, respectively.".format(np.round(reviews.rating.mean(), 0), reviews.rating.min(), reviews.rating.max()))

The number of movies is 35479.
The number of ratings is 863866.
The number of unique users is 67353.
The number of missing reviews is 0.
The average, minimum, and max ratings given are 7.0, 0, and 10, respectively.

In [26]:
movies

,movie_id,movie,genre
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,0000010,La sortie des usines Lumière (1895),Documentary|Short
2,0000012,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,0000091,Le manoir du diable (1896),Short|Horror
5,0000131,Une nuit terrible (1896),Short|Comedy|Horror
6,0000417,A Trip to the Moon (1902),Short|Action|Adventure|Comedy|Fantasy|Sci-Fi
7,0000439,The Great Train Robbery (1903),Short|Action|Crime|Western
8,0443,"Hiawatha, the Messiah of the Ojibway (1903)",NaN
9,0000628,The Adventures of Dollie (1908),Action|Short
10,0000833,The Country Doctor (1909),Short|Drama
11,0001223,Frankenstein (1910),Short|Horror|Sci-Fi
12,0001740,The Lonedale Operator (1911),Short|Drama|Romance
13,0002101,Cleopatra (1912),Drama|History
14,0002130,L'inferno (1911),Adventure|Drama|Fantasy|Horror
15,0002354,Max et Jane veulent faire du théâtre (1911),Short|Comedy|Romance
16,0002844,Fantômas - À l'ombre de la guillotine (1913),Crime|Drama
17,0003740,Cabiria (1914),Adventure|Drama|History
18,0003863,Dough and Dynamite (1914),Comedy|Short
19,0004099,"His Majesty, the Scarecrow of Oz (1914)",Family|Fantasy|Adventure|Comedy
20,0004100,His Musical Career (1914),Short|Comedy
21,0004101,His New Profession (1914),Short|Comedy
22,0004210,Laughing Gas (1914),Short|Comedy
23,0004395,The New Janitor (1914),Short|Comedy
24,0004413,The Ocean Waif (1916),Short|Comedy|Drama
25,0004457,The Patchwork Girl of Oz (1914),Adventure|Family|Fantasy
26,0004518,Recreation (1914),Comedy|Short
27,0004546,The Rounders (1914),Comedy|Short
28,0004936,The Bank (1915),Comedy|Short
29,0004972,The Birth of a Nation (1915),Drama|History|War
...,...,...,...
35449,11615038,After Truth: Disinformation and the Cost of Fa...,Documentary
35450,11615290,Beastie Boys Story (2020),Documentary
35451,11642302,cats_the_mewvie (2020),Documentary
35452,11644096,What Did Jack Do? (2017),Short|Comedy|Mystery
35453,11644170,What Did Jack Do? (2017),Short|Comedy|Crime|Drama|Fantasy|Music|Mystery...
35454,11649614,Hitman: Agent Jun (2020),Action|Comedy
35455,11697832,DAU. Natasha (2020),Drama
35456,11708788,Mekah I'm Coming (2020),Comedy
35457,11709306,Piremardha nemimirand (2019),Comedy|Drama
35458,11727052,The Closet (2020),Horror|Mystery
35459,11738792,Taylor Tomlinson: Quarter-Life Crisis (2020),Comedy
35460,11744784,Barrymore: The Body in the Pool (2020),Documentary|Crime
35461,11749480,Shooter (2020),Action
35462,11777040,Sanyangeui sigan (2020),Crime|Drama|Sci-Fi|Thriller
35463,11777308,Murder Death Koreatown (2020),Crime|Horror|Mystery
35464,11810418,Marc Maron: End Times Fun (2020),Comedy
35465,11810424,Bert Kreischer: Hey Big Boy (2020),Comedy
35466,11861072,Tom Segura: Ball Hog (2020),Comedy
35467,11898442,Playdate with Destiny (2020),Animation|Short|Adventure|Comedy
35468,11903004,Hotel Belgrade (2020),Comedy|Romance
35469,11905962,Sputnik (2020),Sci-Fi
35470,11916278,The Scheme (2020),Documentary|Crime
35471,11953628,Maska (2020),Comedy
35472,11987296,Chris D'Elia: No Pain (2020),Comedy
35473,12027020,LA Originals (2020),Documentary
35474,12036052,Elephant (2020),Documentary|Adventure|Biography|Family
35475,12058882,Coachella: 20 Years in the Desert (2020),Documentary|Music
35476,12078990,Money Heist: The Phenomenon (2020),Documentary
35477,12131262,Out of Shadows (2020),Documentary
35478,12192654,Planet of the Humans (2019),NaN

In [27]:
reviews

       user_id  movie_id  rating   timestamp
0            1   0114508       8  1381006850
1            2   0208092       5  1586466072
2            2   0358273       9  1579057827
3            2  10039344       5  1578603053
4            2   6751668       9  1578955697
5            2   7131622       8  1579559244
6            2   7975244       6  1583706305
7            2   7984734       7  1579949842
8            2   8367814       8  1586436354
9            2   8579674      10  1579261830
10           2   8946378       8  1584300027
11           3   0790636       8  1391207279
12           3   1800241       7  1388955438
13           3   2278871       8  1383419733
14           3   2395417       8  1388170007
15           3   3344922       8  1422652427
16           4   0267626       6  1365738417
17           4   1343092      10  1368224599
18           4   1477855       7  1377225589
19           4   1920849       7  1365738504
20           4   2024432       7  1377225686
21           4   2084970      10  1430699754
22           5   2884206       7  1422859103
23           5   3040964       7  1462982725
24           5   5022702       7  1462874083
25           6   1800241       7  1390001706
26           6   2378281       8  1449784109
27           6   2980516      10  1425239129
28           7   1001508       7  1472597389
29           7   1142988       7  1472591655
...        ...       ...     ...         ...
863836   67351   5697572       1  1584881082
863837   67351   5727208       5  1578779457
863838   67351   5774060       4  1585519170
863839   67351   5797184       4  1584221112
863840   67351   5913798       1  1587595022
863841   67351   6285944       5  1585178452
863842   67351   6394270       7  1582666211
863843   67351   6450804       4  1579301031
863844   67351   6718730       6  1586556293
863845   67351   6924650       5  1580936708
863846   67351   7456312       5  1582331338
863847   67351   7504726       4  1586033415
863848   67351   7713068       5  1586214555
863849   67351   7975244       4  1582933228
863850   67351   8110640       1  1583269949
863851   67351   8169446       1  1586903606
863852   67351   8228288       3  1584836677
863853   67351   8244784       6  1585265682
863854   67351   8367814       7  1585087250
863855   67351   8544498       4  1585259419
863856   67351   8579674       3  1583990264
863857   67351   8623904       4  1579991512
863858   67351   8629748       7  1583747943
863859   67351   8688634       6  1581200136
863860   67351   8946378       7  1581119206
863861   67351   9071322       5  1580517448
863862   67351   9898858       3  1585958452
863863   67352   0172495      10  1587107015
863864   67352   0414387      10  1587107852
863865   67353   1623205       6  1362832655

[863866 rows x 4 columns]

In [28]:
# number of different genres
genres = []
for val in movies.genre:
    try:
        genres.extend(val.split('|'))
    except AttributeError:
        pass

# we end up needing this later
genres = set(genres)
print("The number of genres is {}.".format(len(genres)))

The number of genres is 28.

In [29]:
genres

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}

In [30]:
# Use your findings to match each variable to the correct statement in the dictionary
a = reviews.user_id.nunique()
b = reviews.rating.max()
c = np.round(reviews.rating.mean(), 0)
d = movies.shape[0]
e = reviews.rating.min()
f = int(reviews.rating.isnull().mean()*reviews.shape[0])
h = reviews.shape[0]
i = len(genres)

dict_sol1 = {
'The number of movies in the dataset': d, 
'The number of ratings in the dataset': h,
'The number of different genres': i, 
'The number of unique users in the dataset': a, 
'The number missing ratings in the reviews dataset': f, 
'The average rating given across all ratings': c,
'The minimum rating given across all ratings': e,
'The maximum rating given across all ratings': b
}

# Check your solution
t.q1_check(dict_sol1)

That looks good to me!

#### 2. Data Cleaning

Next, we need to pull some additional relevant information out of the existing columns. 

For each of the datasets, there are a couple of cleaning steps we need to take care of:

#### Movies
* Pull the date from the title and create new column
* Dummy the date column with 1's and 0's for each century of a movie (1800's, 1900's, and 2000's)
* Dummy column the genre with 1's and 0's for each genre

#### Reviews
* Create a date out of time stamp

You can check your results against the header of my solution by running the cell below with the **show_clean_dataframes** function.

In [31]:
# pull date if it exists
create_date = lambda val: val[-5:-1] if val[-1] == ')' else np.nan

# apply the function to pull the date
movies['date'] = movies['movie'].apply(create_date)

# Return century of movie as a dummy column
def add_movie_year(val):
    if val[:2] == yr:
        return 1
    else:
        return 0
        
# Apply function
for yr in ['18', '19', '20']:
    movies[str(yr) + "00's"] = movies['date'].apply(add_movie_year)

In [32]:
movies

,movie_id,movie,genre,date,1800's,1900's,2000's
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0
1,0000010,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0
2,0000012,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0
4,0000091,Le manoir du diable (1896),Short|Horror,1896,1,0,0
5,0000131,Une nuit terrible (1896),Short|Comedy|Horror,1896,1,0,0
6,0000417,A Trip to the Moon (1902),Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,0,1,0
7,0000439,The Great Train Robbery (1903),Short|Action|Crime|Western,1903,0,1,0
8,0443,"Hiawatha, the Messiah of the Ojibway (1903)",NaN,1903,0,1,0
9,0000628,The Adventures of Dollie (1908),Action|Short,1908,0,1,0
10,0000833,The Country Doctor (1909),Short|Drama,1909,0,1,0
11,0001223,Frankenstein (1910),Short|Horror|Sci-Fi,1910,0,1,0
12,0001740,The Lonedale Operator (1911),Short|Drama|Romance,1911,0,1,0
13,0002101,Cleopatra (1912),Drama|History,1912,0,1,0
14,0002130,L'inferno (1911),Adventure|Drama|Fantasy|Horror,1911,0,1,0
15,0002354,Max et Jane veulent faire du théâtre (1911),Short|Comedy|Romance,1911,0,1,0
16,0002844,Fantômas - À l'ombre de la guillotine (1913),Crime|Drama,1913,0,1,0
17,0003740,Cabiria (1914),Adventure|Drama|History,1914,0,1,0
18,0003863,Dough and Dynamite (1914),Comedy|Short,1914,0,1,0
19,0004099,"His Majesty, the Scarecrow of Oz (1914)",Family|Fantasy|Adventure|Comedy,1914,0,1,0
20,0004100,His Musical Career (1914),Short|Comedy,1914,0,1,0
21,0004101,His New Profession (1914),Short|Comedy,1914,0,1,0
22,0004210,Laughing Gas (1914),Short|Comedy,1914,0,1,0
23,0004395,The New Janitor (1914),Short|Comedy,1914,0,1,0
24,0004413,The Ocean Waif (1916),Short|Comedy|Drama,1916,0,1,0
25,0004457,The Patchwork Girl of Oz (1914),Adventure|Family|Fantasy,1914,0,1,0
26,0004518,Recreation (1914),Comedy|Short,1914,0,1,0
27,0004546,The Rounders (1914),Comedy|Short,1914,0,1,0
28,0004936,The Bank (1915),Comedy|Short,1915,0,1,0
29,0004972,The Birth of a Nation (1915),Drama|History|War,1915,0,1,0
...,...,...,...,...,...,...,...
35449,11615038,After Truth: Disinformation and the Cost of Fa...,Documentary,2020,0,0,1
35450,11615290,Beastie Boys Story (2020),Documentary,2020,0,0,1
35451,11642302,cats_the_mewvie (2020),Documentary,2020,0,0,1
35452,11644096,What Did Jack Do? (2017),Short|Comedy|Mystery,2017,0,0,1
35453,11644170,What Did Jack Do? (2017),Short|Comedy|Crime|Drama|Fantasy|Music|Mystery...,2017,0,0,1
35454,11649614,Hitman: Agent Jun (2020),Action|Comedy,2020,0,0,1
35455,11697832,DAU. Natasha (2020),Drama,2020,0,0,1
35456,11708788,Mekah I'm Coming (2020),Comedy,2020,0,0,1
35457,11709306,Piremardha nemimirand (2019),Comedy|Drama,2019,0,0,1
35458,11727052,The Closet (2020),Horror|Mystery,2020,0,0,1
35459,11738792,Taylor Tomlinson: Quarter-Life Crisis (2020),Comedy,2020,0,0,1
35460,11744784,Barrymore: The Body in the Pool (2020),Documentary|Crime,2020,0,0,1
35461,11749480,Shooter (2020),Action,2020,0,0,1
35462,11777040,Sanyangeui sigan (2020),Crime|Drama|Sci-Fi|Thriller,2020,0,0,1
35463,11777308,Murder Death Koreatown (2020),Crime|Horror|Mystery,2020,0,0,1
35464,11810418,Marc Maron: End Times Fun (2020),Comedy,2020,0,0,1
35465,11810424,Bert Kreischer: Hey Big Boy (2020),Comedy,2020,0,0,1
35466,11861072,Tom Segura: Ball Hog (2020),Comedy,2020,0,0,1
35467,11898442,Playdate with Destiny (2020),Animation|Short|Adventure|Comedy,2020,0,0,1
35468,11903004,Hotel Belgrade (2020),Comedy|Romance,2020,0,0,1
35469,11905962,Sputnik (2020),Sci-Fi,2020,0,0,1
35470,11916278,The Scheme (2020),Documentary|Crime,2020,0,0,1
35471,11953628,Maska (2020),Comedy,2020,0,0,1
35472,11987296,Chris D'Elia: No Pain (2020),Comedy,2020,0,0,1
35473,12027020,LA Originals (2020),Documentary,2020,0,0,1
35474,12036052,Elephant (2020),Documentary|Adventure|Biography|Family,2020,0,0,1
35475,12058882,Coachella: 20 Years in the Desert (2020),Documentary|Music,2020,0,0,1
35476,12078990,Money Heist: The Phenomenon (2020),Documentary,2020,0,0,1
35477,12131262,Out of Shadows (2020),Documentary,2020,0,0,1
35478,12192654,Planet of the Humans (2019),NaN,2019,0,0,1

In [33]:
# Function to split and return values for columns
def split_genres(val):
    try:
        if val.find(gene) >-1:
            return 1
        else:
            return 0
    except AttributeError:
        return 0

# Apply function for each genre
for gene in genres:        
    movies[gene] = movies['genre'].apply(split_genres)

In [34]:
movies.head() #Check what it looks like

,movie_id,movie,genre,date,1800's,1900's,2000's,Short,Game-Show,Sport,...,Music,Musical,News,Documentary,Romance,Animation,Talk-Show,Reality-TV,Thriller,Adventure
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0000010,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0000012,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0000091,Le manoir du diable (1896),Short|Horror,1896,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
import datetime

change_timestamp = lambda val: datetime.datetime.fromtimestamp(int(val)).strftime('%Y-%m-%d %H:%M:%S')

reviews['date'] = reviews['timestamp'].apply(change_timestamp)

In [36]:
reviews

       user_id  movie_id  rating   timestamp                 date
0            1   0114508       8  1381006850  2013-10-05 23:00:50
1            2   0208092       5  1586466072  2020-04-09 23:01:12
2            2   0358273       9  1579057827  2020-01-15 04:10:27
3            2  10039344       5  1578603053  2020-01-09 21:50:53
4            2   6751668       9  1578955697  2020-01-13 23:48:17
5            2   7131622       8  1579559244  2020-01-20 23:27:24
6            2   7975244       6  1583706305  2020-03-08 23:25:05
7            2   7984734       7  1579949842  2020-01-25 11:57:22
8            2   8367814       8  1586436354  2020-04-09 14:45:54
9            2   8579674      10  1579261830  2020-01-17 12:50:30
10           2   8946378       8  1584300027  2020-03-15 20:20:27
11           3   0790636       8  1391207279  2014-01-31 23:27:59
12           3   1800241       7  1388955438  2014-01-05 21:57:18
13           3   2278871       8  1383419733  2013-11-02 20:15:33
14           3   2395417       8  1388170007  2013-12-27 19:46:47
15           3   3344922       8  1422652427  2015-01-30 22:13:47
16           4   0267626       6  1365738417  2013-04-12 05:46:57
17           4   1343092      10  1368224599  2013-05-11 00:23:19
18           4   1477855       7  1377225589  2013-08-23 04:39:49
19           4   1920849       7  1365738504  2013-04-12 05:48:24
20           4   2024432       7  1377225686  2013-08-23 04:41:26
21           4   2084970      10  1430699754  2015-05-04 02:35:54
22           5   2884206       7  1422859103  2015-02-02 07:38:23
23           5   3040964       7  1462982725  2016-05-11 18:05:25
24           5   5022702       7  1462874083  2016-05-10 11:54:43
25           6   1800241       7  1390001706  2014-01-18 00:35:06
26           6   2378281       8  1449784109  2015-12-10 22:48:29
27           6   2980516      10  1425239129  2015-03-01 20:45:29
28           7   1001508       7  1472597389  2016-08-31 00:49:49
29           7   1142988       7  1472591655  2016-08-30 23:14:15
...        ...       ...     ...         ...                  ...
863836   67351   5697572       1  1584881082  2020-03-22 13:44:42
863837   67351   5727208       5  1578779457  2020-01-11 22:50:57
863838   67351   5774060       4  1585519170  2020-03-29 23:59:30
863839   67351   5797184       4  1584221112  2020-03-14 22:25:12
863840   67351   5913798       1  1587595022  2020-04-23 00:37:02
863841   67351   6285944       5  1585178452  2020-03-26 00:20:52
863842   67351   6394270       7  1582666211  2020-02-25 22:30:11
863843   67351   6450804       4  1579301031  2020-01-17 23:43:51
863844   67351   6718730       6  1586556293  2020-04-11 00:04:53
863845   67351   6924650       5  1580936708  2020-02-05 22:05:08
863846   67351   7456312       5  1582331338  2020-02-22 01:28:58
863847   67351   7504726       4  1586033415  2020-04-04 22:50:15
863848   67351   7713068       5  1586214555  2020-04-07 01:09:15
863849   67351   7975244       4  1582933228  2020-02-29 00:40:28
863850   67351   8110640       1  1583269949  2020-03-03 22:12:29
863851   67351   8169446       1  1586903606  2020-04-15 00:33:26
863852   67351   8228288       3  1584836677  2020-03-22 01:24:37
863853   67351   8244784       6  1585265682  2020-03-27 00:34:42
863854   67351   8367814       7  1585087250  2020-03-24 23:00:50
863855   67351   8544498       4  1585259419  2020-03-26 22:50:19
863856   67351   8579674       3  1583990264  2020-03-12 06:17:44
863857   67351   8623904       4  1579991512  2020-01-25 23:31:52
863858   67351   8629748       7  1583747943  2020-03-09 10:59:03
863859   67351   8688634       6  1581200136  2020-02-08 23:15:36
863860   67351   8946378       7  1581119206  2020-02-08 00:46:46
863861   67351   9071322       5  1580517448  2020-02-01 01:37:28
863862   67351   9898858       3  1585958452  2020-04-04 02:00:52
863863   67352   0172495      10  1587107015  2020-04-17 09:03:35
863864   67352   0414387      10  1587107852  2020-04-17 09:17:32
863865   67353   1623205       6  1362832655  2013-03-09 13:37:35

[863866 rows x 5 columns]

In [39]:
# now reviews and movies are the final dataframes with the necessary columns
reviews.to_csv('./data/reviews_clean.csv')
movies.to_csv('./data/movies_clean.csv')